.obole-container {
	font-size: 0px;
	position: relative;
	text-align: right;
}

.obole-button {
	display: block;
	width: 36px;
	height: 36px;
	margin-right: 8px;
	text-align: center;
	cursor: pointer;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	background: transparent;
	padding: 0px;
	outline: 0px;
}

.obole-button > svg {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 10px 8px;
}
		
/* LAYOUT 2015 */
.old-layout {
	position: absolute;
	top: 0;
	left: -34px;
	height: 100%;
}
.old-layout .obole-button {
	width: 32px;
	height: 100%;
	margin-right: 0;
}

.old-layout .obole-button > svg  {
	margin: 0;
	margin-top: 9px;
}

.obole-layout-2015 .obole-container .obole-button > svg {
	margin-top: 4px;
}

.obole-layout-2015 #watch8-sentiment-actions {
	position: relative;
}

/* Iridium - https://github.com/ParticleCore/Iridium */
#iri-quick-controls-container .obole-button {
	display: inline-block;
}
#iri-quick-controls-container .obole-button svg {
	margin: 10px 8px;
}
